<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="../public/js/index.js" defer></script>
    <link rel="stylesheet" href="../public/css/main.css">
    
    <title>Flantino Milano</title>
</head>
<body style="background-color: black;">


    <header class="header" id="header">

        <nav class="navbar-desktop">

            <div class="logo">
                <img src="../public/img/icons/test-logo_3_11zon-min.png" alt="">
            </div>

            <ul class="navbar-list">
                <li><a href="home.html">Home</a></li>
                <li><a href="products.html">Products</a></li>
                <li><a href="#">About</a></li>

            </ul>

        </nav>

        <nav class="navbar-mobile">

            <div class="open-close">

                <div class="logo">
                    <img src="../public/img/icons/test-logo_3_11zon-min.png" alt="">
                </div>

                <div class="toggle-btn" id="toggleBtn">
                    <img src="../public/img/icons/Menu-Bar Line.svg" alt="">
                </div>

            </div>

            <ul class="navbar-list hidden" id="hidden">

                <li><a href="home.html">Home</a></li>
                <li><a href="products.html">Products</a></li>
                <li><a href="#">About</a></li>

            </ul>

        </nav>
    </header>

    <section class="home">
        <div class="home-text">
            <h1 id="h1">Lorem, ipsum.
                <span>Lorem <span style="color: red;">sit amet.</span></span>
            </h1>
            <p>Lorem ipsum <span style="color: red;">dolor sit.</span>, amet consectetur adipisicing elit.</p>
        </div>
    </section>

    <main class="about-us">


      <section class="about-wrapp">

        <article class="wrapp-text">
          <header class="wrapp-header">
            <h1>Lorem, ipsum. Lorem, ipsum dolor.</h1>
          </header>
          <div class="wrapp-general">
            <h3>Lorem, ipsum.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem sint quidem minus atque recusandae distinctio ullam voluptas amet placeat voluptatum.</p>
          </div>
        </article>

        <article class="wrapp-img">
          <img src="/public/img/Escudo-removebg-preview.png" alt="">
        </article>

      </section>

      <section class="about-img">

          <article class="about-skew">
            <div class="txt">
              <h1>Lorem ipsum dolor sit amet.</h1>
            </div>
              <img src="/public/img/skew/emma-fabbri-o8h9eMRY4w0-unsplash.jpg" alt="">
          </article>

          <article class="about-skew">
            <div class="txt">
              <h1>Lorem ipsum dolor sit amet.</h1>
            </div>
            <img src="/public/img/skew/ouael-ben-salah-0xe2FGo7Vc0-unsplash.jpg" alt="">

          </article>

          <article class="about-skew">
            <div class="txt">
              <h1>Lorem ipsum dolor sit amet.</h1>
            </div>
            <img src="/public/img/skew/simone-daino-oBlBD5VzoXc-unsplash.jpg" alt="">

          </article>
          
      </section>


    </main>


    <footer class="footer">

      <div class="footer-display">
      
        <div class="footer-about">

            <div class="about-text">
              <h2>Lorem, ipsum.</h2>
              <p>Lorem ipsum, dolor sit amet <br> consectetur adipisicing elit. Fugit, fugiat.</p>
            </div>

        </div>

        <div class="footer-nav">

          <h2>Contact</h2>

          <div class="footer-links">

            <div class="footer-links-contact">
              <div class="img-links">
                <img src="../public/img/icons/Location.svg" alt="">
              </div>
              <div class="img-text-link">
                <p>444. S. California</p>
              </div>
            </div>

            <div class="footer-links-contact">
              <div class="img-links">
                <img src="../public/img/icons/Phone Call.svg" alt="">
              </div>
              <div class="img-text-link">
                <p>+51 000 00 000</p>
              </div>
            </div>

            <div class="footer-links-contact">
              <div class="img-links">
                <img src="../public/img/icons/Mail.svg" alt="">
              </div>
              <div class="img-text-link">
                <p>Flantino@company.com</p>
              </div>
            </div>

          </div>
        </div>

        <div class="footer-social-links">
          
          <h2>Síguenos</h2>

          <div class="social-icon-container">

            <div class="social-icon">
              <img src="../public/img/icons/Facebook.svg" alt="">
            </div>
            <div class="social-icon">
              <img src="../public/img/icons/Instagram.svg" alt="">
            </div>
            <div class="social-icon">
              <img src="../public/img/icons/WhatsApp.svg" alt="">
            </div>
            
          </div>

        </div>

    </div>
      <div class="legal">
        <p>&copy; 2023 Something. All rights reserved.</p>
      
        <div class="legal__links">
          <span>Made by Ezefran</span>
        </div>

      </div>

    </footer>


</body>
</html>