<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="../public/js/index.js" defer></script>
    <link rel="stylesheet" href="../public/css/main.css">
    
    <title>Flantino Milano</title>
</head>
<body>

    <header class="header" id="header">

        <nav class="navbar-desktop">

            <div class="logo">
                <img src="../public/img/icons/test-logo_3_11zon-min.png" alt="">
            </div>

            <ul class="navbar-list">
                <li><a href="#">Home</a></li>
                <li><a href="products.html">Products</a></li>
                <li><a href="about.html">About</a></li>

            </ul>

        </nav>

        <nav class="navbar-mobile">

            <div class="open-close">

                <div class="logo">
                    <img src="../public/img/icons/test-logo_3_11zon-min.png" alt="">
                </div>

                <div class="toggle-btn" id="toggleBtn">
                    <img src="../public/img/icons/Menu-Bar Line.svg" alt="">
                </div>

            </div>

            <ul class="navbar-list hidden" id="hidden">

                <li><a href="#">Home</a></li>
                <li><a href="products.html">Products</a></li>
                <li><a href="about.html">About</a></li>

            </ul>

        </nav>
    </header>

    <section class="home">
        <div class="home-text">
            <h1 id="h1">Lorem, ipsum.
                <span>Lorem <span style="color: red;">sit amet.</span></span>
            </h1>
            <p>Lorem ipsum <span style="color: red;">dolor sit.</span>, amet consectetur adipisicing elit.</p>
        </div>
    </section>

    <section class="article-grid">

        <header class="header-grid">
            <hr>
            <h3>Tendencias</h3>
        </header>

        <div class="container-article">
        
            <article class="article-box" id="first-article">

                <div class="article-text">
                    <p>Lorem ipsum dolor sit.</p>
                    <h1>Lorem ipsum dolor sit amet.</h1>
                    <div class="btns">
                        <a class="article-btn" href="">Ordena YA!</a>
                        <a class="article-btn" href="">Contáctenos</a>
                    </div>
                </div>
                
            </article>

            <article class="article-box" id="second-article">

                <div class="article-text">
                    <p>Lorem ipsum dolor sit.</p>
                    <h1>Lorem ipsum dolor sit amet.</h1>
                    <div class="btns">
                        <a class="article-btn" href="">Ordena YA!</a>
                        <a class="article-btn" href="">Contáctenos</a>
                    </div>
                </div>
                
            </article>

        </div>

    </section>

    <main class="main-grid">

        <header class="header-grid">
            <hr>
            <h3>Tendencias</h3>
        </header>

        <section class ="grid">

            <article class="grid-box">

                <div class="img-section">
                    <img src="../public/grids-img/grid1-1.webp" alt="">
                </div>

                <div class="grid-text">

                    <div class="txt-pd">
                        <h3>Lorem, ipsum.</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <a href="" class="btn">
                            Compra
                        </a>
                    </div>

                </div>
                    
            </article>

            <article class="grid-box grid-invert">

                <div class="img-section">
                    <img src="../public/grids-img/force-majeure-00tlc0clfrs-unsplash.webp" alt="">
                </div>

                <div class="grid-text">

                    <div class="txt-pd">
                        <h3>Lorem, ipsum.</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <a href="" class="btn">
                            Compra
                        </a>
                    </div>

                </div>
                    
            </article>

            <article class="grid-box ">

                <div class="img-section">
                    <img src="../public/grids-img/brooke-cagle-keleigko7pu-unsplash.webp" alt="">
                </div>

                <div class="grid-text">

                    <div class="txt-pd">
                        <h3>Lorem, ipsum.</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <a href="" class="btn">
                            Compra
                        </a>
                    </div>

                </div>
                    
            </article>

            <article class="grid-box grid-invert">

                <div class="img-section">
                    <img src="../public/grids-img/andrew-neel-hqtywly9dxs-unsplash.webp" alt="">
                </div>

                <div class="grid-text">

                    <div class="txt-pd">
                        <h3>Lorem, ipsum.</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <a href="" class="btn">
                            Compra
                        </a>
                    </div>

                </div>
                    
            </article>
        </section>

    </main>

    <footer class="footer">

      <div class="footer-display">
      
        <div class="footer-about">

            <div class="about-text">
              <h2>Lorem, ipsum.</h2>
              <p>Lorem ipsum, dolor sit amet <br> consectetur adipisicing elit. Fugit, fugiat.</p>
            </div>

        </div>

        <div class="footer-nav">

          <h2>Contact</h2>

          <div class="footer-links">

            <div class="footer-links-contact">
              <div class="img-links">
                <img src="../public/img/icons/Location.svg" alt="">
              </div>
              <div class="img-text-link">
                <p>444. S. California</p>
              </div>
            </div>

            <div class="footer-links-contact">
              <div class="img-links">
                <img src="../public/img/icons/Phone Call.svg" alt="">
              </div>
              <div class="img-text-link">
                <p>+51 000 00 000</p>
              </div>
            </div>

            <div class="footer-links-contact">
              <div class="img-links">
                <img src="../public/img/icons/Mail.svg" alt="">
              </div>
              <div class="img-text-link">
                <p>Flantino@company.com</p>
              </div>
            </div>

          </div>
        </div>

        <div class="footer-social-links">
          
          <h2>Síguenos</h2>

          <div class="social-icon-container">

            <div class="social-icon">
              <img src="../public/img/icons/Facebook.svg" alt="">
            </div>
            <div class="social-icon">
              <img src="../public/img/icons/Instagram.svg" alt="">
            </div>
            <div class="social-icon">
              <img src="../public/img/icons/WhatsApp.svg" alt="">
            </div>
            
          </div>

        </div>

    </div>
      <div class="legal">
        <p>&copy; 2023 Something. All rights reserved.</p>
      
        <div class="legal__links">
          <span>Made by Ezefran</span>
        </div>

      </div>

    </footer>


</body>
</html>