<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flantino Milano - Lenguaje</title>


    
    <link rel="stylesheet" href="public/css/main.css">
    <link rel="stylesheet" href="public/css/lenguaje.css">
</head>
<body class="bdy-lenguaje">
    

    <div class="container lenguaje">

        <section class="select-lenguaje">

            <div class="lenguaje-text">

                <header class="header-lenguaje">
                    <h1>Flantino Milano</h1>
                </header>
                
                <ul class="list-lenguaje">
                    <div class="list-r">
                        <a href="view/home.html">
                            <li class="item-lengauje">Deutsche</li>
                        </a>
                        <hr>
                        
                        <a href="view/home.html">
                            <li class="item-lengauje">Italian</li>
                        </a>
                        <hr>
                        
                        <a href="view/home.html">
                            <li class="item-lengauje">English</li>
                        </a>
                        <hr>
                    </div>
                    <div class="list-l">
                        <a href="view/home.html">
                            <li class="item-lengauje">Spanish</li>
                        </a>
                        <hr>
                        <a href="view/home.html">
                            <li class="item-lengauje">Chinese</li>
                        </a>
                    </div>
                </ul>

                
            </div>
                
        </section>


    </div>


    <!-- <audio controls autoplay>
        <source src="/public/music/jazz.mp3" type="audio/mpeg">
    </audio> -->

</body>
</html> -->