<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="../public/js/index.js" defer></script>
    <link rel="stylesheet" href="../public/css/main.css">
    
    <title>Flantino Milano</title>
</head>
<body>

  


    <header class="header" id="header">

        <nav class="navbar-desktop">

            <div class="logo">
                <img src="../public/img/icons/test-logo_3_11zon-min.png" alt="">
            </div>

            <ul class="navbar-list">
                <li><a href="home.html">Home</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="about.html">About</a></li>

            </ul>

        </nav>
        <!--  -->
        <nav class="navbar-mobile">

            <div class="open-close">

                <div class="logo">
                    <img src="/public/img/icons/test-logo_3_11zon-min.png" alt="">
                </div>

                <div class="toggle-btn" id="toggleBtn">
                    <img src="../public/img/icons/Menu-Bar Line.svg" alt="">
                </div>

            </div>

            <ul class="navbar-list hidden" id="hidden">

                <li><a href="home.html">Home</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="about.html">About</a></li>

            </ul>

        </nav>
    </header>
    <section class="home">
        <div class="home-text">
            <h1 id="h1">Lorem, ipsum.
                <span>Lorem <span style="color: red;">sit amet.</span></span>
            </h1>
            <p>Lorem ipsum <span style="color: red;">dolor sit.</span>, amet consectetur adipisicing elit.</p>
        </div>
    </section>

    <!-- 
      Online Shop
    -->

    <main class="products">


      <header class="products-header">
        <hr>
        <h3>Online Shop</h3>
      </header>


      <section class="products-grid">
<!-- 
        <article class="products-box">

          <div class="product-img">
            <img src="../public/img/items/w480.webp" alt="">
          </div>

          <div class="product-buy">

            <div class="product-text">
              <p>Lorem, ipsum dolor.</p>

              <div class="product-price">
                <p>140$</p>
                <div class="product-btn">
                  <a href="">
                    <img src="../public/img/icons/ticket buy.svg" alt="">
                  </a>
                </div>
              </div>

            </div>

          </div>

        </article>

        <article class="products-box">

          <div class="product-img">
            <img src="../public/img/items/w480 (1).webp" alt="">
          </div>

          <div class="product-buy">

            <div class="product-text">
              <p>Lorem, ipsum dolor.</p>

              <div class="product-price">
                <p>140$</p>
                <div class="product-btn">
                  <a href="">
                    <img src="../public/img/icons/ticket buy.svg" alt="">
                  </a>
                </div>
              </div>

            </div>



          </div>

        </article>
        
        <article class="products-box">

          <div class="product-img">
            <img src="../public/img/items/w480 (2).webp" alt="">
          </div>

          <div class="product-buy">

            <div class="product-text">
              <p>Lorem, ipsum dolor.</p>

              <div class="product-price">
                <p>140$</p>
                <div class="product-btn">
                  <a href="">
                    <img src="../public/img/icons/ticket buy.svg" alt="">
                  </a>
                </div>
              </div>

            </div>

          </div>

        </article>
         -->
        <article class="products-box" id="sport">

          <div class="product-img">
            <img src="../public/img/items/w480 (3).webp" alt="">
          </div>

          <div class="product-buy">

            <div class="product-text">
              <p>Lorem, ipsum dolor.</p>

              <div class="product-price">
                <p>140$</p>
                <div class="product-btn">
                  <a href="">
                    <img src="../public/img/icons/ticket buy.svg" alt="">
                  </a>
                </div>
              </div>

            </div>



          </div>

        </article>
        
        <article class="products-box" id="sport">

          <div class="product-img">
            <img src="../public/img/items/w480 (4).webp" alt="">
          </div>

          <div class="product-buy">

            <div class="product-text">
              <p>Lorem, ipsum dolor.</p>

              <div class="product-price">
                <p>140$</p>
                <div class="product-btn">
                  <a href="">
                    <img src="../public/img/icons/ticket buy.svg" alt="">
                  </a>
                </div>
              </div>

            </div>

          </div>

        </article>
        
        <article class="products-box">

          <div class="product-img">
            <img src="../public/img/items/w480 (5).webp" alt="">
          </div>

          <div class="product-buy">

            <div class="product-text">
              <p>Lorem, ipsum dolor.</p>

              <div class="product-price">
                <p>140$</p>
                <div class="product-btn">
                  <a href="">
                    <img src="../public/img/icons/ticket buy.svg" alt="">
                  </a>
                </div>
              </div>

            </div>

          </div>

        </article>



        

      </section>

      


    </main>



    <footer class="footer">

        <div class="footer-display">
        
          <div class="footer-about">
  
              <div class="about-text">
                <h2>Lorem, ipsum.</h2>
                <p>Lorem ipsum, dolor sit amet <br> consectetur adipisicing elit. Fugit, fugiat.</p>
              </div>
  
          </div>
  
          <div class="footer-nav">
  
            <h2>Contact</h2>
  
            <div class="footer-links">
  
              <div class="footer-links-contact">
                <div class="img-links">
                  <img src="../public/img/icons/Location.svg" alt="">
                </div>
                <div class="img-text-link">
                  <p>444. S. California</p>
                </div>
              </div>
  
              <div class="footer-links-contact">
                <div class="img-links">
                  <img src="../public/img/icons/Phone Call.svg" alt="">
                </div>
                <div class="img-text-link">
                  <p>+51 000 00 000</p>
                </div>
              </div>
  
              <div class="footer-links-contact">
                <div class="img-links">
                  <img src="../public/img/icons/Mail.svg" alt="">
                </div>
                <div class="img-text-link">
                  <p>Flantino@company.com</p>
                </div>
              </div>
  
            </div>
          </div>
  
          <div class="footer-social-links">
            
            <h2>Síguenos</h2>
  
            <div class="social-icon-container">
  
              <div class="social-icon">
                <img src="../public/img/icons/Facebook.svg" alt="">
              </div>
              <div class="social-icon">
                <img src="../public/img/icons/Instagram.svg" alt="">
              </div>
              <div class="social-icon">
                <img src="../public/img/icons/WhatsApp.svg" alt="">
              </div>
              
            </div>
  
          </div>
  
      </div>
        <div class="legal">
          <p>&copy; 2023 Something. All rights reserved.</p>
        
          <div class="legal__links">
            <span>Made by Ezefran</span>
          </div>
  
        </div>
  
    </footer>


</body>


<script>
  const container = document.querySelector(".products-grid");

  const rutaImage = "../public/img/items/";
  const rutaIcons = "../public/img/icons/ticket buy.svg";
  const listOfImages = [
      ["w480 (3).webp", 140],
      
  ];
  listOfImages.forEach(data=>{

      const article = document.createElement("article");
      article.classList.add("products-box");
      article.id = "sport";
      
      const divProductImg = document.createElement("div");
      divProductImg.classList.add("product-img")
      
      const imageProductImg = document.createElement("img");
      imageProductImg.src =rutaImage+data[0];
      divProductImg.appendChild(imageProductImg);
      
      const divProductBuy = document.createElement("div");
      divProductBuy.classList.add("product-buy");

      const divProductText = document.createElement("div");
      divProductText.classList.add("product-text");

      const pText = document.createElement("p");
      pText.textContent = "Lorem, ipsum dolor.";

      const divProductPrice = document.createElement("div");
      divProductPrice.classList.add("product-price");

      const pPrice = document.createElement("p");
      pPrice.textContent = String(data[1])+"$";

      const divProductBtn = document.createElement("div");
      divProductBtn.classList.add("product-btn");

      const aLink = document.createElement("a");
      aLink.href = "";

      const imageIcons = document.createElement("img");
      imageIcons.src = rutaIcons;

      aLink.appendChild(imageIcons);
      divProductBtn.appendChild(aLink);

      divProductPrice.appendChild(pPrice);
      divProductPrice.appendChild(divProductBtn);

      divProductText.appendChild(pText);
      divProductText.appendChild(divProductPrice);

      divProductBuy.appendChild(divProductText);

      article.appendChild(divProductImg);
      article.appendChild(divProductBuy);

      container.appendChild(article);
  })
      




</script>
</html>